@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #FFF;
  background-color: #3c3b3f;
}



.bg-secondary {
  background-color: #3c2283;
}

.bg-gradient {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}